
<h1 id="listPageH1">Whitzo -- Find or list your apartments without fees and brokers</h1>

<div id="listPageContainer">
<div class="header">
    <div id="backButton">
      <%= link_to image_tag("back_button", size: "40x40", alt: "Back to Home"), "/rentals" %>


    </div>
    <div id="backText">
        <h3>Whitzo</h3>
    </div>
    <div id="pageTitle">
        <h3>List My Apartment</h3>
    </div>
</div>

<div class="content">
    <div class="leftSideBar">
        <ul>
            <li><a href="#name">Title</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#keyInfo">Key Info</a></li>
            <li><a href="#availability">Availability</a></li>
            <li><a href="#amenities">Amenities</a></li>
            <li><a href="#pictures">Pictures</a></li>
            <li><a href="#contract">Contract</a></li>

        </ul>
    </div>

    <div id="listMyApartmentContent">
      <!-- Use a form_for helper to generate a HTML form tag -->
      <%= render 'form' %>
    </div>
</div>
