
<h1 id="homePageH1">Whitzo -- Find or list your apartments without fees and brokers</h1>

<div id="homePageContainer">
    <div id="homePageLogo">
       <%= image_tag("whitzo_logo") %>
    </div>

     <div id="homePageTagLine">
        <h3>Find or list your next apartment without the hassle of brokers</h3>
    </div>

    <div class="homePageSide">
        <h3>No Broker Fees</h3>
        <p>Deal with owners directly</p>
        <p>No brokers, no hassle</p>
        <input type="button" id="findAnApartment" value="Find An Apartment">
    </div>

    <div id="homePageVerticalLine">
    </div>

    <div class="homePageSide">
        <h3>Manage Your Property</h3>
        <p>Hate paying brokers?</p>
        <p>Use our brokering services for free.</p>

        <%= button_to "List My Apartment", new_rental_path, :class => "button", :method => "get" %>

    </div>

</div>
